---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:flex-row"
>
	<div class="flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="text-2xl text-orange lg:text-4xl font-serenity">About Me</h2>
		<span class="mb-6 ml-2 h-1 w-20 bg-orange"></span>
	</div>

	<div class="w-full text-black dark:text-white lg:w-1/2">
		<p class="mb-2 mx-2 font-light font-monospace">
			I'm a software engineer currently living in the Bay Area, 
			
	        I admittedly have more experience in front-end as I enjoy that more, 
			
		</p>
	</div>
</section>
